@(indices:List[String])

<!DOCTYPE html>
<html>
<head>
<link rel="shortcut icon" href="/public/images/favicon.ico"
	type="image/x-icon" />
<link rel="stylesheet" media="screen"
	href="@controllers.routes.Assets.versioned("stylesheets/bootstrap.min.css")"/>
<link rel="stylesheet" media="screen"
	href="@controllers.routes.Assets.versioned("stylesheets/octicons.css")"/>
<link rel="shortcut icon" type="image/png"
	href="@controllers.routes.Assets.versioned(" images/favicon.png")"/>
<link rel="stylesheet" href="@controllers.routes.Assets.versioned("stylesheets/font-awesome.min.css")"/>
<link rel="stylesheet" href="@controllers.routes.Assets.versioned("stylesheets/jquery-ui.css")"/>
<link rel="stylesheet" href="@controllers.routes.Assets.versioned("stylesheets/main.css")"/>
<script src="@controllers.routes.Assets.versioned("javascripts/jquery-1.10.2.min.js")"></script>
<script src="@controllers.routes.Assets.versioned("javascripts/jquery-ui.min.js")"></script>
<script src="@controllers.routes.Assets.versioned("javascripts/bootstrap.min.js")"></script>


<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE10">
</head>
<body>
	<form method="GET" class="form-inline" action="@play.api.Play.configuration.getString("application.context").getOrElse("")/search">
		<input class="ui-autocomplete-input agrovoc-autocomplete"
			name="q" id="agrovocInput1" style="width: 300px"
			autocomplete="off" type="text">
		<select name="lang" id="lang-select" class="input-widget">
			<option value="de" selected>Deutsch</option>
			<option value="en">Englisch</option>
		</select>
		<select name="index" id="index-select" class="input-widget">
			@for(i <- indices){
				<option value="@i">@i</option>
			}	
		</select>
		<button type="submit" class="btn">Search</button>
	</form>
</body>
<script>
	$(function() {
		enableAutocomplete();
		function enableAutocomplete() {
			$('.agrovoc-autocomplete').each(function() {
				enableAgrovocAutocomplete($(this));
			});
		}
		function enableAgrovocAutocomplete(inputElement) {
			inputElement
					.autocomplete({
			            source : function(request, response) {
			            	lang=$('#lang-select').find(":selected").attr('value');
			            	index=$('#index-select').find(":selected").attr('value');
			                $.ajax({
			                    url : "@play.api.Play.configuration.getString("application.context").getOrElse("")/autocomplete",
			                    dataType : "jsonp",
			                    data : {
			                        q : request.term,
			                        lang :  lang,
			                        index : index
			                    },
			                    success : function(data) {
			                        response(data);
			                    }
			                });
			            }
			        });
		}
	});
</script>
</html>

